
.nuliga-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nuliga-table th {
  font-size: .85em;
  letter-spacing: .05em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .nuliga-table {
    border: 0;
  }
  .nuliga-table caption {
    font-size: 1.3em;
  }
  .nuliga-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .nuliga-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .nuliga-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    font-weight: bold;
  }
  .nuliga-table td::before {
    /*
		* aria-label has no advantage, it won't be read inside a table
		content: attr(aria-label);
		*/
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
  }
  .nuliga-table td:last-child {
    border-bottom: 0;
  }
}
